.container {
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container span {
  font-size: 2.5em;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
